.title {
  color: #02ccba;
}

li{
  list-style:none;
}

.wrapper{
  display:flex;
  flex-direction:column;
}

.header{
  background-color:aqua;
  height:90px;
}

.header-logo{
  font-size:36px;
  float:left;
  padding:20px 40px;
}

.header-list li{
  float:left;
  padding:33px 20px;
}

.main{
  flex:1;
  background-color:darkgoldenrod;
  height:800px;
  padding:50px 80px;
}

.w
.copy-container h1{
  font-size:140px;
}

.contents{
  height:300px
  margin-top:100px;
}

.contents-item{
  float:left;
  margin-right:40px;
  margin-top:30px;
  font-size:24px;
}

.contact-form{
  padding-top:100px;
}

.copy-container h1{
  font-size:140px;
}

.section-title{
  border-bottom:2px solid #dee7ec;
  font-size:28px;
  padding-bottom:15px;
  margin-bottom:50px;
}

input,textarea{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}

.footer{
  background-color:#2f5167;
  height:120px;
  color:#fff;
  padding:40px;

}

.footer-logo{
  font-size:32px;
  float:left;
}

.footer-list{
  float:right;
}

.footer-list li{
  padding-bottom:20px;
}
